__pycache__
tests/__pycache__
paralllel_inverter.py
play.py
CLAUDE.md
.idea
*png

*log
*pdf
*fdb_latexmk
*aux
*~

.DS_store
xtra
*fls
pix

*dvi
*~
*out

.Rhistory
.ipynb_checkpoints/
.virtual_documents/
RESEARCH_PLAN.md
crlb.csv
data/
res/
